{% extends 'base/main.html' %}

{% block content %}

<main class="content">
    <table>
        <tr>
            <th>Pojistník</th>
            <th>Vytvořena</th>
            <th>Vyplacená částka</th>
            <th>Popis</th>
            <th>Pojištění</th>
        </tr>
        {% for claim in claims %}
        <tr>
            <td><a href="{% url 'policyholder-detail' claim.holder.id %}">{{claim.holder.first_name}} {{claim.holder.last_name}}</a></td>
            <td>{{claim.created|date:"j. n. Y G:i"}}</td>
            <td>{{claim.amount}}</td>
            <td>{{claim.description}}</td>
            <td>{{claim.policy}}</td>
        </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}