{% extends 'main.html' %}

{% block content %}

<main class="content">
    <p>Jméno: {{policyholder.first_name}} {{policyholder.last_name}}</p>
    <p>Email: {{policyholder.email}}</p>
    <p>Telefon: {{policyholder.phone}}</p>
    <p>Adresa: {{policyholder.address}}</p>
    <p>Město: {{policyholder.city}}</p>
    <a href="{% url 'create-insurance-policy' policyholder.id %}" class="btn btn-primary">Vytvoř pojištění</a>
    <a href="{% url 'update-policyholder' policyholder.id %}" class="btn btn-warning">Uprav pojištěnce</a>
    <a href="{% url 'delete-policyholder' policyholder.id %}" class="btn btn-danger">Smaž pojištěnce</a>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Typ pojištění</th>
                    <th scope="col">Celková částka</th>
                    <th scope="col">Platí do</th>
                    <th scope="col">Akce</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for policy in insurance_policies %}
                <tr>
                    <td><a href="{% url 'insurance-policy-detail' policy.id %}">{{policy.policy_type}}</a></td>
                    <td>{{policy.total_amount}}</td>
                    <td>{{policy.expire_date}}</td>
                    <td><a href="{% url 'update-insurance-policy' policy.id %}" class="btn btn-warning">Upravit</a>
                        <a href="{% url 'delete-insurance-policy' policy.id %}" class="btn btn-danger">Smazat</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</main>

{% endblock %}